pyyaml==6.0
git+https://github.com/menu-hanke/forestry-function-library@0.9.0#egg=forestryfunctions
git+https://github.com/menu-hanke/forest-data-model@0.4.7#egg=forestdatamodel
jsonpickle==2.2.0
pandas==1.4.*
