pyyaml==6.0
jsonpickle==3.0.*
forestryfunctions @ git+https://github.com/menu-hanke/forestry-function-library@1.0.0-rc3
forestdatamodel @ git+https://github.com/menu-hanke/forest-data-model@1.0.0-rc1
fhk
-f https://github.com/menu-hanke/fhk/releases/expanded_assets/v4.0.0
