# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run unit tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: |
          ${{ secrets.FDM_SSH_KEY }}
          ${{ secrets.FFL_SSH_KEY }}
          ${{ secrets.PYMOTTI_SSH_KEY }}
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f optional-requirements.txt ]; then pip install -r optional-requirements.txt; fi
        if [ -f fhk-requirements.txt ]; then pip install -r fhk-requirements.txt; fi
    - name: Test with unittest
      run: |
        python -m pytest
