# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run unit tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Set up R 4.3.3
      uses: r-lib/actions/setup-r@v2
      with:
        r-version: 4.3.3
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[tests]
        if [ -f requirements-fhk.txt ]; then pip install -r requirements-fhk.txt; fi
    - name: Install R dependencies
      uses: r-lib/actions/setup-r-dependencies@v2
      with:
        cache-version: 2
    - name: Test with unittest
      run: |
        python -m pytest
